h5py == 3.13.0
numpy == 2.2.0
openslide-python == 1.4.2  
pandas == 2.2.3
pillow == 11.2.1 

scikit-learn == 1.6.1 
scikit-survival
scipy == 1.15.3 
torchvision == 0.21.0 
captum == 0.7.0 
shap == 0.47.2
dgl == 1.1.3
torchdata==0.9.0
pyyaml
pydantic
x-transformers
transformers
nystrom-attention
wandb
ray[tune]
scipy